<footer>
  <div class="inside">
    <div>
      <img src="{{ 'assets/img/logo-white.svg' | relative_url }}" alt="Logo at footer" width="28px" height="28px">
      <div style="margin-top: 12px; font: 700 24px Outfit;">CYAN4S</div>
      <div>Copyright {{ site.time | date: "%Y" }}.<br>CYAN4S All Rights Reserved.</div>
    </div>
    <div>
      <div style="font-size: 24px; padding-bottom: 12px;">Related Site</div>
      <ul>
        <li><a href="https://www.cyan4s.com">CYAN4S Official Site</a></li>
        <li><a href="https://github.com/CYAN4S/blog">Blog Source Code</a></li>
        <li><a href="https://boun.cyan4s.com">Just For Fun!</a></li>
        <!-- <li><svg style="fill: white; width: 20px; height: 20px;"><use xlink:href="{{ '/assets/social.svg#twitter' | relative_url }}"></use></svg></li>
        <li><svg style="fill: white; width: 20px; height: 20px;"><use xlink:href="{{ '/assets/social.svg#github' | relative_url }}"></use></svg></li> -->
        <li>{{ site.email }}</li>
      </ul>
    </div>
  </div>
</footer>
