{% if post.image %} {% assign image = post.image | relative_url %} {% else %} {%
assign image = "assets/img/default/default.png" | relative_url %} {% endif %}

<a href="{{ post.url | relative_url }}" class="postcard">
  <div class="postcard-image-container">
    <img src="{{ image }}" alt="Post image" width="100%" />
  </div>
  <div class="postcard-description">
    <h4 class="postcard-title">{{ post.title }}</h4>
    <p class="postcard-excerpt">{{ post.excerpt | strip_html }}</p>
  </div>
</a>
