@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Outfit Regular"),
    url(https://fonts.gstatic.com/l/font?kit=QGYvz_MVcBeNP4N5tllKW7Ddrct81M7BE7jVVGtt5uGaa2iAC4wTah6WuAHSfJBjMm4y5w&skey=bafc0b239d492b2c&v=v6)
      format("woff2");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Outfit Bold"),
    url(https://fonts.gstatic.com/l/font?kit=QGYvz_MVcBeNP4N5tllKW7Ddrct81M7BE7jVVGtt5uGaa2iAC4wTah6WuAHSfJBjMm4y5w&skey=bafc0b239d492b2c&v=v6)
      format("woff2");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Outfit Black"),
    url(https://fonts.gstatic.com/l/font?kit=QGYvz_MVcBeNP4N5tllKW7Ddrct81M7BE7jVVGtt5uGaa2iAC4wTah6WuAHSfJBjMm4y5w&skey=bafc0b239d492b2c&v=v6)
      format("woff2");
}

// Request JetBrains Mono when not in local.

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("JetBrains Mono Regular"),
    url(https://fonts.gstatic.com/s/jetbrainsmono/v6/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTOlOV.woff2)
      format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("JetBrains Mono Bold"),
    url(https://fonts.gstatic.com/s/jetbrainsmono/v6/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8L6tTOlOV.woff2)
      format("woff2");
}
