//  BREAKPOINT

$breakpoint0: 1280px;
$breakpoint1: 860px;
$gap: 20px;

// GLOBAL OPTION

* {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: white;
}

body {
  background-color: $color-background;
  margin: 0;
  font-family: $font-main;
}

body.dark {
  background-color: $color-dark-background;
}

code {
  font-family: $font-mono;
  color: $color-secondary-dark;
}

.dark {
  code {
    color: $color-secondary;
  }
}

code.language-plaintext::before,
code.language-plaintext::after {
  content: "`";
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-soft;
}

.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-dark-text-soft;
  }
}

p, li {
  color: $color-text;
}

.dark p, .dark li {
  color: $color-dark-text;
}

main {
  > section, section.force-section {
    max-width: $breakpoint0;
    margin: 0 auto;
    padding: 0 $gap;
  }

  > section:nth-child(1n+2) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  > section:last-child {
    padding-bottom: 160px;
  }
}

.post-ul {
  li {
    min-height: 120px;
    margin-bottom: 60px;
  }

  h3 a {
    text-decoration: none;
  }
}

.cyanli {
  color: $color-primary;
  font: 900 16px $font-display;
  margin: 20px 0;
}

.cyanli::before {
  content: "";
  background-color: $color-primary;
  display: inline-block;
  height: 14px;
  width: 7px;
  margin-right: 12px;
  vertical-align: -7%;
  transform: skew(-15deg);
}

#topbutton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color-primary;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0px 8px 12px -8px rgba(0, 0, 0, 0.4);

  > span {
    font: 700 36px $font-main;
  }
}

#themebutton {
  position: fixed;
  bottom: 120px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color-primary;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0px 8px 12px -8px rgba(0, 0, 0, 0.4);

  > span {
    font: 700 36px Pretendard;
  }
}

.seeall {
  font-size: 14pt;
  font-weight: 400;
  color: $color-background-gray;
  align-self: end;
}

.flexauto {
  flex: auto;
}
