header {
  height: 80px;

  > .inside {
    // Horizontal align of `.inside` element
    margin: 0 auto;
    max-width: $breakpoint1;

    // Standard gap
    padding: 0 $gap;

    display: flex;

    // Vertical align of `a` elements
    height: 100%;
    align-items: center;

    // Space horizontally between `a` elements
    justify-content: space-between;
  }

  a, a > span {
    color: $color-primary;
    font: 700 24px $font-display;
    text-decoration: none;
    letter-spacing: 0.03em;
  }
}
