$cyan: #26bfb3;
$breakpoint0: 960px;
$breakpoint1: 720px;
$breakpoint2: 600px;
$side-width: 240px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Noto Sans KR", sans-serif;
}

code {
  font-family: "Fira Code", monospace;
}

a {
  color: $cyan;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main,
header .inside,
footer .inside {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: $breakpoint2) {
    padding: 0 20px;
  }
}

header {
  height: 60px;
  background-color: $cyan;

  > div.inside {
    height: 100%;
    display: flex;
    align-items: center;
  }

  a {
    color: white;
    font: 700 24px Montserrat;
    text-decoration: none;
    letter-spacing: 1px;
  }
}

footer {
  background-color: gray;
  color: white;
  font-family: "Fira Code", monospace;

  > div.inside {
    display: flex;
    > div {
      margin: 20px 0;
      flex: 1;
    }
    @media (max-width: $breakpoint1) {
      flex-direction: column;
    }
  }

  li {
    color: lightgray;
    a {
      color: white;
    }
  }
}

main.col-2 {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;

  #content {
    flex: 1;
  }

  #sidebar {
    width: $side-width;
  }

  @media (max-width: $breakpoint0) {
    flex-direction: column;

    #content {
      padding-right: 0;
    }

    #sidebar {
      width: auto;
    }
  }
}

.ct-container {
  a {
    display: inline-block;
    margin: 0 4px 8px 0;
    padding: 4px 16px;
    border: 2px solid;
    border-radius: 20px;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.25px;
  }
}

.post-ul {
  li {
    min-height: 120px;
    margin-bottom: 32px;

    span {
      font-size: 14px;
      color: gray;
    }
  }
}

.portfolio-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  @media (max-width: $breakpoint1) {
    grid-template-columns: 1fr;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  margin: 20px 0;
  border: 0;
}

h3,
h4,
h5,
h6,
p {
  margin: 0 0 12px;
  line-height: 1.2;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1.5px;
  margin: 0 0 32px;
}

h2 {
  font-size: 44px;
  font-weight: 300;
  letter-spacing: -0.5px;
  margin: 0 0 20px;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

h4 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.15px;
}

p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.6;
}

.overline {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: gray;
  margin: 4px 0;
}

.caption {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: gray;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.card {
  box-shadow: 0 2px 8px -4px;
  border-radius: 20px;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  .content {
    padding: 20px;
  }

  .media {
    width: 100%;
    border-radius: 20px;
  }
}

.card.hor {
  flex-direction: row;
}

#aboutcard {
  flex-direction: row;
  margin-bottom: 24px;

  .media {
    max-width: 300px;
    max-height: 300px;
  }

  .content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 300px;

    h6, .full-col {
      grid-column: 1 / 3;
    }
  }

  @media (max-width: 680px) {
    flex-direction: column;

    .media {
      max-width: 100%;
      max-height:  100%;
    }
  }
}
