$color-primary: #26BFB3;
$color-primary-light: #65CAC1;
$color-primary-dark: #1C8C83;

$color-secondary: #ff9baa;
$color-secondary-light: #FFCCD4;
$color-secondary-dark: #FF4F69;

$color-background: #f5f5f5;
$color-background-diff: #f4f4f4;
$color-background-gray: #e0e0e0;

$color-text: #0d0d0d;
$color-text-soft: #333333;
$color-text-hard: #000000;

$color-text-link: rgb(26, 87, 167);
$color-text-link-visited: rgb(75, 36, 167);

$color-dark-background: rgb(27, 27, 27);
$color-dark-background-diff: rgb(14, 14, 14);
$color-dark-background-gray: rgb(44, 44, 44);

$color-dark-text: rgb(255, 255, 255);
$color-dark-text-soft: rgb(255, 255, 255);
$color-dark-text-hard: rgb(255, 255, 255);

$color-dark-text-link: rgb(110, 173, 255);
$color-dark-text-link-visited: rgb(176, 142, 255);

$font-sans: "Pretendard", "Inter", "Roboto", "Samsung Sans", system-ui, sans-serif;
$font-serif: "Noto Serif KR", serif;
$font-display: "Outfit", sans-serif;
$font-mono: "Jetbrains Mono", monospace;
$font-main: $font-sans;

$font-size-p: 1rem;
$font-size-1: 3rem;
$font-size-2: 2.5rem;
$font-size-3: 2rem;
$font-size-4: 1.5rem;
$font-size-5: 1.25rem;
$font-size-6: 1rem;

$text-margin-bottom: 1rem;
$text-margin-top-weight: 1.5;

$text-margin-top-p: 0;
$text-margin-top-1: $font-size-1 * $text-margin-top-weight;
$text-margin-top-2: $font-size-2 * $text-margin-top-weight;
$text-margin-top-3: $font-size-3 * $text-margin-top-weight;
$text-margin-top-4: $font-size-4 * $text-margin-top-weight;
$text-margin-top-5: $font-size-5 * $text-margin-top-weight;
$text-margin-top-6: $font-size-6 * $text-margin-top-weight;