<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <link
      rel="stylesheet"
      href="{{ 'assets/css/styles.css' | relative_url }}"
    />
    <link
      rel="shortcut icon"
      href="{{ 'favicon.ico' | relative_url }}"
      type="image/x-icon"
    />
    <meta name="theme-color" content="#26bfb3" />
    {% seo %}
  </head>
  <body>
    {% include header.html %} 
    {{ content }} 
    {% include footer.html %} 
    {% include topbutton.html %}
    {% include themebutton.html %}
  </body>
  <script src="{{ 'assets/js/default.js' | relative_url }}"></script>
</html>
